@font-face {
    font-family: 'FontAwesome Brands';
    src: url("../icon/webfonts/fa-brands-400.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'FontAwesome Duotone';
    src: url("../icon/webfonts/fa-duotone-900.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../icon/webfonts/fa-light-300.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../icon/webfonts/fa-regular-400.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../icon/webfonts/fa-solid-900.ttf");
    font-weight: 900;
}

.fas {
    font-family: 'FontAwesome';
    font-weight: 900;
}

.far {
    font-family: 'FontAwesome';
    font-weight: 400;
}

.fal {
    font-family: 'FontAwesome';
    font-weight: 300;
}

.fad {
    font-family: 'FontAwesome Duotone';
    font-weight: 900;
}

.fab {
    font-family: 'FontAwesome Brands';
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/Open_Sans/OpenSans/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/Open_Sans/OpenSans/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Teko";
    src: url("../font/Teko/Teko-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Teko";
    src: url("../font/Teko/Teko-Regular.ttf");
    font-weight: 400;
}


.icon_heart::before{
    content: "\f004";
    font-style: normal;
    font-size: 17px;
    color: #E63946;
}